<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <!-- Assignment 2 - Added/changed for bootstrap4 nav bar -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>    

    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css' />
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  


  
  <body>
    <div id="topbar">
      <a href="https://jaeuk-kim-eportfolio.herokuapp.com/">JAEUK's WebSite </a>
      <a href="https://github.com/JackTheArchitect" target="_blank"><img class="icon" src="images/git.jpg"></a>
      <a href="https://www.linkedin.com/in/jaeuk-kim/" target="_blank"><img class="icon" src="images/linkedin.png"></a>
      <a href="mailto:soophan3@gmail.com"><img class="icon" src="images/email.png"></a>
      
      
    </div>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand" href="#">
        <img src="../images/my_logo.png" alt="logo" style="width: 40px;" ></img>
      </a>
    
      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/"> Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about"> About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects"> PortFolio </a>
        </li>                
        <li class="nav-item">
          <a class="nav-link" href="/contact"> Contact</a>
        </li>
    
        
      </ul>
    </nav> 
    
       

    <!-- Titles are in common -->
    <header>
      <h1><%= title %></h1>        
    </header>
        