<% include partials/header.ejs %>

<!-- d. Your About Me Page should include your legal name, an image of you (I recommend a head
and shoulders shot), a short paragraph about who you are. Keep this clean and simple as it
may be viewed by perspective employers. (1 Mark: Content)
e. Your About Me page should include a link to a PDF version of your Resume (1 Mark:
Content). -->

<div id='about' class='content'>
    <div id='about_left'>
        <img id='my_pic' src="images/profile.jpg"><br>
        <p id="title">
            <b>Jaeuk Kim </b><br>
            The Software Architect for you</br>
        </p>

        <a href="files/Resume.pdf"><button>Resume</button></a>
    </div>

    <div id='about_rigft'>
        "Hi! Welcome to my website!!! <br><br>
        <div id='profile'>                    
            My name is Jaeuk but friends call Jack <br>
            as a short or nickname <br><br>
            
            I am a software engineer specialzed in web development. <br>
            I study Software Engineering (Aritificial Inteligence) <br>
            at Centennial College.<br><br>
    
            I am also an expert in education field and teaching.<br>    
            I love draw a big picture of things,<br> 
            oragnize people and system.<br><br>
            
            I have worked as an organiser <br>
            for several soccial meetups for many years! <br>            
        </div>
        <br><br>        
    </div>

    <!-- <a href="" -->
</div>

<% include partials/footer.ejs %>