<% include partials/header.ejs %>

<!-- d. Your About Me Page should include your legal name, an image of you (I recommend a head
and shoulders shot), a short paragraph about who you are. Keep this clean and simple as it
may be viewed by perspective employers. (1 Mark: Content)
e. Your About Me page should include a link to a PDF version of your Resume (1 Mark:
Content). -->

<div id='about' class='content'>
    <div id='about_left'>
        <img id='my_pic' src="images/profile.jpg"><br>
        <p id="title">
            <b>Jaeuk Kim </b><br>
            The Software Architect for you</br>
        </p>

        <a href="files/Resume.pdf"><button>Resume</button></a>
    </div>

    <div id='about_rigft'>
        "Who am I??" <br><br>
        <div id='profile'>                    
            <ul>
                <li>Jaeuk Kim (Call Me Jack)</li><br>
                <li>Software Engineering at Centennial College</li><br>
                <li><b>Javascript, C#, Java, Python</b></li><br>
                <li>Strong at leadership and teamwork</li><br>
                <li>Communication skill <br>
                    - Experienced Tutor & Socail Meetup Organiser for years
                </li><br>
            </ul>        
        </div>
        <br><br>        
    </div>

    <!-- <a href="" -->
</div>

<% include partials/footer.ejs %>