<% include partials/header.ejs %>

    <!-- My contact -->
<div class="content"> 
    <div id="my_contact">
        <ul>
            <li>
                Mobile: 416-936-9774
            </li>
            <li>
                Email: <a href="mailto:soophan3@gmail.com">soophan3@gmail.com</a>
            </li>
            <li>
                My Github: <a href="https://github.com/JackTheArchitect/Assignment1">https://github.com/</a>                       
            </li>
        </ul>
    </div>

</div>

<% include partials/footer.ejs %>