<% include partials/header.ejs %>

<div class="content"> 
    <div id="my_contact">
        <ul>
            <li>
                Mobile: (416) Nine three nine - Nine seven seven four
            </li>
            <li>
                Email: <a href="mailto:soophan3@gmail.com">soophan3@gmail.com</a>
            </li>
            <li>
                My Github: <a href="https://github.com/JackTheArchitect">https://github.com/JackTheArchitect</a>                       
            </li>
        </ul>
    </div>

    <div>
        Leave your message to me
        <form>
            
        </form>
    </div>

</div>

<% include partials/footer.ejs %>