<% include partials/header.ejs %>

    <div class='content' id="home-content">
        
        
        <div style="color: bisque;">
            <p style="color: greenyellow;">
                Welcome to my portfolio site!
            </p>

            <ul>
                <li>This website has beem made with <span style="color:blueviolet;">Express JS</span> and <span style="color: coral;">Bootstrap</span></li>
                <li><a href="https://github.com/JackTheArchitect/jaeuk-kim-eportfolio">Link to the git of this website</a></li>
            </ul>
        </div>

        <img id="home-image" src="images/dog.jpg">
        
    </div>

<% include partials/footer.ejs %>
 
