<% include partials/header.ejs %>

    <div class='content'>
        
        <img src="images/dog.jpg">
        <p>
            Welcome to my portfolio site!
        </p>
        <div style="color: bisque;">
            <ul>
                <li>This website has beem made with Express JS and Bootstrap</li>
                <li><a href="https://github.com/JackTheArchitect/jaeuk-kim-eportfolio">Link to the git of this website</a></li>
            </ul>
        </div>
        
    </div>

<% include partials/footer.ejs %>
 
