<% include partials/header.ejs %>


    <div class='content'>
        

        <b>Mission Statemenmt</b>


        <div id='mission'>        
            I am your own specialist architecture for your web world! <br>
            <br>
            I build  <br>
            : From a personal website through mobile apps even to a whole system solution for your business. <br>
            <br><br>
            My passion is <br>
            to provide handy solutions for individuals and small business <br>            
            so that they can achieve their dream, run business wihtout heavy cost, and live a better life    
        </p>
    </div>

<% include partials/footer.ejs %>
 
