<% include partials/header.ejs %>

<div class="content">

<div id="proejct1">
    <h3>
        Group Project - Incident Management Website        
    </h3>

    <p> 
        <img class="project_img" src="images/incident_management_website.png">
    </p>
</div>
<br><br>

<div id="proejct2">
    <h3>
        Academic Work1 - Natural Language Processing - Spam identifier         
    <h3></h3>
    <p>
        <img class="project_img" src="images/community.png">
    </p>
    </h1>
</div>
<br><br>
<div id="proejct3">
    <h3>
        Academic Work2 - Bug Catching Game <br>        
    </h3>
    <p>
        <img class="project_img" src="images/mindmap.png">
    </p>
</div>
</div>    
<br><br>
<% include partials/footer.ejs %>