<% include partials/header.ejs %>
    <br>
    <div class="content">

        <div class="odd-row" id="project1">
            <h3>
                Group Project - Incident Management Website <br>
            </h3>
            <span>
                (My Main Role: Backend)
            </span>
            <br>
            <div class="container">
                <div class="hori1">
                    <a href="https://incident-management-frontend.herokuapp.com/home" target='_blank'><img
                            class="project_img" src="images/incident_management_website.png"></a>
                </div>
                <div class="hori2">
                    Features
                    <ol>
                        <li>REST API</li>
                        <li>Express JS, Angular js</li>
                        <li>Mongo DB</li>
                        <li>Web Token Authentication </li>
                        <li>User Signup/signIn</li>
                        <li>CRUD</li>
                    </ol>
                </div>
                <div class="hori3">
                    LINK
                    <ul>
                        <li><a href="https://incident-management-frontend.herokuapp.com/home" target='_blank'>Link to
                                the website</a></li>
                        <li><a href="https://github.com/JackTheArchitect/incidentManagement-backend"
                                target='_blank'>Backend Github</a></li>
                        <li><a href="https://github.com/JackTheArchitect/incidentManagement-frontend"
                                target='_blank'>Frontend Github</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <br><br>

        <div class="even-row" id="A.I2">
            <h3>
                Natural Language Processing - Spam mail identifier
            </h3>
            <br>

            <div class="container">
                <div class="hori1">
                    <img class="project_img" src="images/nlp.png">
                </div>
                <div class="hori2">
                    Features
                    <ol>
                        <li>Natural Language Processing</li>
                        <li>Spam/Normal Mail sorting</li>
                    </ol>
                </div>
                <div class="hori3">
                    LINK
                    <ul>
                        <li><a href="https://github.com/JackTheArchitect/NLP" target='_blank'>Link to the Git</a></li>
                        <li><a href="">Implementation&Explanation on Youtube </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <br><br>

        <div class="odd-row" id="A.I2">
            <h3>
                Group Project - SRS / SDD Document for "PetFood Info"
            </h3>
            <br>

            <div class="container">
                <div class="hori1">
                    <img class="project_img" src="images/nlp.png">
                </div>
                <div class="hori2">
                    Features
                    <ol>
                        <li>SRS/SDD document</li>
                        <li>UML, ERD Model, CRC cards, etc</li>
                        <li>Collaborated in a team to create the document as team leader</li>
                        
                    </ol>
                </div>
                <div class="hori3">
                    LINK
                    <ul>
                        <li><a href="files/COMP246_008-Pet Food Info System-Parts A-B-C.pdf" target='_blank'>PDF file</a></li>                        
                    </ul>
                </div>
            </div>
        </div>
        <br><br>

        <div class="even-row" id="academic1">
            <h3>
                Academic Work 1 - Weather Forecast / Locator <br>
            </h3>

            <div class="container">
                <div class="hori1">
                    <a href="http://studentweb.cencol.ca/jkim487/Assignment6/assignment6.html" target='_blank'><img
                            class="project_img" src="images/locater.png"></a>
                </div>
                <div class="hori2">
                    Features
                    <ol>
                        <li>Weather Forcast API</li>
                        <li>Weather on cities / my location</li>
                        <li>Google Maps API</li>
                    </ol>
                </div>
                <div class="hori3">
                    LINK
                    <ul>
                        <li><a href="http://studentweb.cencol.ca/jkim487/Assignment6/assignment6.html"
                                target='_blank'>Link to the app</a></li>
                        <li><a href="">Implementation&Explanation on Youtube </a></li>
                    </ul>
                </div>
            </div>
        </div>

        <br><br>

        <div class="odd-row" id="academic2">
            <h3>
                Academic Work 2 - Bug Smasher <br>
            </h3>
            <p>

            </p>

            <div class="container">
                <div class="hori1">
                    <a href="http://studentweb.cencol.ca/jkim487/Assignment5/assignment5.html" target='_blank'><img
                            class="project_img" src="images/bug-smasher.png"></a>
                </div>
                <div class="hori2">
                    Features
                    <ol>
                        <li>Javascript</li>
                        <li>Timer</li>
                        <li>Speed/Score Reset</li>
                    </ol>
                </div>
                <div class="hori3">
                    LINK
                    <ul>
                        <li><a href="http://studentweb.cencol.ca/jkim487/Assignment5/assignment5.html"
                                target='_blank'>Link to the app</a></li>
                        <li><a href="">Implementation&Explanation on Youtube </a></li>
                    </ul>
                </div>
            </div>

        </div>
        <br><br>

        <div class="even-row" id="academic3">
            <h3>
                Academic Work 3 - Photo Bookmarking <br>
            </h3>
            <p>

            </p>

            <div class="container">
                <div class="hori1">
                    <a href="http://studentweb.cencol.ca/jkim487/Assignment3/photos.htm" target='_blank'><img
                            class="project_img" src="images/photo.png"></a>
                </div>
                <div class="hori2">
                    Features
                    <ol>
                        <li> Javascript </li>
                        <li> Photo Bookmark</li>
                        <li> Photo change over time</li>
                        <li> Photo change with arrow buttons</li>

                    </ol>
                </div>
                <div class="hori3">
                    LINK
                    <ul>
                        <li><a href="http://studentweb.cencol.ca/jkim487/Assignment3/photos.htm" target='_blank'>Link to
                                the app</a></li>
                        <!-- <li><a href="">Implementation&Explanation on Youtube </a></li> -->
                    </ul>
                </div>
            </div>

        </div>
        <br><br>

        <div class="odd-row" id="academic4">
            <h3>
                Academic Work 4 - Registration Form <br>
            </h3>
            <p>

            </p>

            <div class="container">
                <div class="hori1">
                    <a href="http://studentweb.cencol.ca/jkim487/Assignment4/assignment4.html" target='_blank'><img
                            class="project_img" src="images/form.png"></a>
                </div>
                <div class="hori2">
                    Features
                    <ol>
                        <li>Javascript</li>
                        <li> HTML Form </li>
                    </ol>
                </div>
                <div class="hori3">
                    LINK
                    <ul>
                        <li><a href="http://studentweb.cencol.ca/jkim487/Assignment4/assignment4.html"
                                target='_blank'>Link to the app</a></li>

                    </ul>
                </div>
            </div>

        </div>
        <br><br>


        <div class="even-row" id="academic5">
            <h3>
                Academic Work 5 - BMR Calculator <br>
            </h3>
            <p>

            </p>

            <div class="container">
                <div class="hori1">
                    <a href="http://studentweb.cencol.ca/jkim487/Assignment1/Assignment1.html" target='_blank'><img
                            class="project_img" src="images/bmr.png"></a>
                </div>
                <div class="hori2">
                    Features
                    <ol>
                        <li>Javascript</li>                        
                    </ol>
                </div>
                <div class="hori3">
                    LINK
                    <ul>
                        <li><a href="http://studentweb.cencol.ca/jkim487/Assignment1/Assignment1.html"
                                target='_blank'>Link to the app</a></li>
                    </ul>
                </div>
            </div>

        </div>


        
        <br><br>
    </div>
    <br><br>
    <% include partials/footer.ejs %>