<% include partials/header.ejs %>

<div class="content">

<div id="project1">
    <h3>
        Group Project - Incident Management Website        
    </h3>
   
    <a href="https://incident-management-frontend.herokuapp.com/home"><img class="project_img" src="images/incident_management_website.png"></a>
    <ul>
        <li>My Role: Backend</a></li>
        <li>Backend Github</li>
        <li>Frontend Github</li>
        <li>Knowledge: Express, Angular, Token, MongoDB, Authentication, Verification, Authorization, etc</li>
    </ul>
        
    
</div>
<br><br>

<div id="project2">
    <h3>
        Academic Work1 - Natural Language Processing - Spam identifier         
    <h3></h3>
    <p>
        <img class="project_img" src="images/community.png">
    </p>
    </h1>
</div>
<br><br>
<div id="project3">
    <h3>
        Academic Work2 - Bug Catching Game <br>        
    </h3>
    <p>
        <img class="project_img" src="images/mindmap.png">
    </p>
</div>

<div id="project4">
    <h3>
        Academic Work3<br>        
    </h3>
    <p>
        <img class="project_img" src="images/xxxx.png">
    </p>
</div>
</div>    
<br><br>
<% include partials/footer.ejs %>