<% include partials/header.ejs %>
<br>
<div class="content">

<div id="project1">
    <h3>
        Group Project - Incident Management Website <br>        
    </h3>
    <span>
        (My Main Role: Backend)
    </span>

    <div class="container">
        <div class="hori1">
            <a href="https://incident-management-frontend.herokuapp.com/home"><img class="project_img" src="images/incident_management_website.png"></a>
        </div>
        <div class="hori2">        
            <ul>
                <li>REST API</li>
                <li>Express JS, Angular js</li>            
                <li>Mongo DB</li>
                <li>Web Token Authentication </li>
                <li>Time Stamp</li>
                
            </ul>
        </div>
        <div class="hori3">
            <ul>        
                <li><a href="https://incident-management-frontend.herokuapp.com/home">Link to the website</a></li>
                <li><a href="https://github.com/JackTheArchitect/incidentManagement-backend">Backend Github</a></li>
                <li><a href="https://github.com/JackTheArchitect/incidentManagement-frontend">Frontend Github</a></li>            
            </ul>
        </div>
    </div>   
</div>
<br><br>

<div id="project2">
    <h3>
        Academic Work1 - Natural Language Processing - Spam identifier         
    <h3></h3>
    <p>
        <img class="project_img" src="images/community.png">
    </p>
    </h1>
</div>
<br><br>

<div id="academic1">
    <h3>
        Academic Work2 - Weather Forecast / Locator <br>        
    </h3>
    <p>
        <img class="project_img" src="images/locater.png">
    </p>
</div>

<div id="academic2">
    <h3>
        Academic Work3 - Bug Smasher <br>        
    </h3>
    <p>
        <img class="project_img" src="images/bug-smasher.png">
    </p>
</div>
</div>    
<br><br>
<% include partials/footer.ejs %>