<% include partials/header.ejs %>

<div class="content">
<h1>"Temporary"<br></h1>
<h1>"To be updated"<br></h1>

<br><br><br><br>


<!-- Images are only for vague ideas. I do not own the pics/copryrights/apps-->

<div id="proejct1">
    <h3>
        Project 1 - Learn English with news articles <br>
        Platform: Web, Android <br>
    </h3>

    <p> 
        <img class="project_img" src="images/english.jpg">
    </p>
</div>
<br><br>

<div id="proejct2">
    <h3>
        Project 2 - Community site for International Students in Canada <br>
        Platform: Web, Android <br>
    <h3></h3>
    <p>
        <img class="project_img" src="images/community.png">
    </p>
    </h1>
</div>
<br><br>
<div id="proejct3">
    <h3>
        Project 3 - My Mind map <br>
        Platform: Pc, Android , iOS<br>
    </h3>
    <p>
        <img class="project_img" src="images/mindmap.png">
    </p>
</div>
</div>    
<br><br>
<% include partials/footer.ejs %>