<% include partials/header.ejs %>


<!-- Service List -->
<div class='content'>       
    <table id="list">        
        <tr>
            <td class="list_td">
                <img class='service' src="images/hr.jpg">
            </td> 
            <td class="list_td">
                HR Solution Development            
            </td>
        </tr>
        <tr>
            <td class="list_td">
                <img class='service' src="images/mobile.jpeg">
            </td>
            <td class="list_td">
                Mobile Application Development
            </td>
        </tr>
        <tr>
            <td class="list_td">
                <img class='service' src="images/website.jpg">
            </td>
            <td class="list_td">
                Website development
            </td>
        </tr>
        <tr>
            <td class="list_td">
                <img class='service' src="images/system.jpg">
            </td>
            <td class="list_td">
                Sytstem Improvement
            </td>
        </tr>
        <tr>
            <td class="list_td">
                <img class='service' src="images/education.jpg">
            </td>
            <td class="list_td">
                Education Software
            </td>
        </tr>
    </table>    

    
    
    
    
    
    

</div>


<% include partials/footer.ejs %>