/* In common among the pages */
header {

  color: yellow;
}

#topbar {
  background-color: ivory;
  font-size: xx-large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align:end
}

.icon {
  width: 30px;
  height: 30px;
  display: inline-block;
}

a{
  text-decoration-line: none;
}

/* visited link */
a:visited {
  text-decoration-line: none;
}

/* mouse over link */
a:hover {
  text-decoration-line: none;
}

/* selected link */
a:active {
  
}

#sitename{
  color: inherit; /* Link color removed */
}



footer {
  color:purple;
  font-size: large;
  text-align: left;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 65%;
      
  background-color: black;
  
  clear: both;
    position: relative;
    height: 10%;
    margin-top: -200px;
}


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  background-image: url(../images/background4.jpg);  
  background-size: auto;  

}

#title {
  color: orange;
  font-size:x-large;  
}


.content {  
  color: yellowgreen;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size:large;  
}

#home-content {
  display: flex; 
  justify-content: space-between;
}

/* Home page */

#mission {
  background-color: black;
  width: 600px;
  color: whitesmoke;
}

/* About page */

/* Picture and Button are placed in this */
/* float left is for horizontal alignment */
#about_left{
  float:left; 
  width: 35%;;  
}

/* Download button for the temporary resume */
/* float left is for horizontal alignment */
button {
  margin-left:25%;
  margin-right:20%;
}

#about_right{
  float:left;
  width: 50%;
}

#my_pic{
  width: 70%;
  height: 70%;  
  margin-bottom: 20px;;
  
}

#profile{  
  background-color: black ;
  margin-left: 33%;
  margin-right: 33%;
  color: whitesmoke;
}

/* Projects Page */

.project_img{
  width: 300px;
  height: 200px;
  padding: 10px;  
}

/* Services Page */
.service{
  width: 250px;
  height: 200px;
}

/*service list table*/
#list{
  margin: auto;
}
/*service list table's tds*/
.list_td{
 text-align: center;
 background-color:darkslateblue;
 color: orange;
}


/* Contact Page*/

#my_contact{
  background-color:dark;
  color: orange;
  width: 40%;
  font-size: x-large;
}

#submit{
  margin-top: 20px;
  margin-left: 10%;
}


/* For Assignment2 - Business Contact List */

#list-table{
  background-color:whitesmoke;
}

#list-name{
  color: goldenrod;
  font-size:xx-large;
}

#list-number{
  color:green;
  font-size:xx-large;
}

#list-email{
  color: skyblue;
  font-size:xx-large;
}

#list-actions{
  color:crimson;
  font-size:xx-large;
}

.text-center{
  color: black;
  font-size: x-large;
}

.container{
  position: relative;
  margin-left: 0%;
  display: flex;  
  font-size: x-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:coral;
}

.hori1,.hori2 {
  width: 30%
}


#my_contact {
  font-size: large;
}

.odd-row{
  background-color: rgba(0,0,0,1);      
}

.even-row{
  background-color: rgba(70,70,70,.7);    
}

